.App {
  text-align: center;
  /* display: flex;
  flex-direction: row-reverse;  */
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  grid-template-rows: 0.2fr 2.7fr 0.1fr;
  gap: 0px 0px;
  grid-template-areas:
    "SideNavBar Header "
    "SideNavBar Content "
    "Footer Footer";

  overflow: hidden;
  /* min-width: "50%";
        min-height: "30%" */
}
.Header {
  grid-area: Header;
  background-color: black;
}
.Content {
  grid-area: Content;
  overflow-y: scroll;
  background-color: pink;
}
.Footer {
  grid-area: Footer;
  background-color: teal;
}
.SideNavBar {
  grid-area: SideNavBar;
  background-color: black;
  color: aliceblue;
  overflow-y: scroll;
}
