.flex {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header {
  font-size: 1.5vw;
}

.gridContainer {
  width: 80%;
  height: 70%;
  display: grid;
  /* grid-auto-flow: dense; */
  grid-template-columns: 1.4fr 0.7fr 0.9fr;
  grid-template-rows: 0.7fr 0.7fr 0.7fr 0.7fr 2.2fr 1fr;
  gap: 1% 1%;
  grid-template-areas:
  "search search search"
  "userDisplay password password"
  "userDisplay mark mark"
  "userDisplay addGroup addGroup"
  "userDisplay groups groups"
  "userDisplay groups groups";
}

.search {
  grid-area: search;
}

.password {
  grid-area: password;
}

.userDisplay {
  grid-area: userDisplay;
}

.mark {
  grid-area: mark;
}

.addGroup {
  grid-area: addGroup;
}

.groups {
  grid-area: groups;
}

.users {
  grid-area: users;
  background-color: aquamarine;
}

.container {
  height: 90%;
  padding: 3%;
  margin: auto;
}

.rootDiv{
  width: 100%;
  height: 100%;
}

.paper{
  width: 100%;
  height: 100%;
  background: linear-gradient( #e6e6e6 90%, teal 10%);
}